.cat-container {
  position: absolute;
  z-index: 5;
  -webkit-app-region: no-drag;
  pointer-events: none;
}

.cat-frame-1,
.cat-frame-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}