.cat-container {
  position: absolute;
  z-index: 3;
  -webkit-app-region: no-drag;
  pointer-events: none;
}
/*idle 150,150,180,70(bottom)
* sleep 220, 220, 130, 130(top)
* poop 150, 150, 280, 133(top)
*/

.cat-frame-1,
.cat-frame-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}