.cat-container {
  position: absolute;
  z-index: 3;
  -webkit-app-region: no-drag;
  pointer-events: none;
}

.cat-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.collar{
    position: relative;
    width: 25px;
    height: 10px;
    z-index: 2;
}